.container1{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 130px  130px  130px 130px 130px 130px;}
.container1 > div{
    text-align: center;
  padding: 20px 0;
  font-size: 30px;}
.box1,.box2, .box3,.box8, .box13{ background-color: rgb(4, 196, 196);color: white;}
.box4{grid-area: 1 / 4 / span 2 / span 1;}
.box6{grid-area: 1 / 6 / span 5 / span 1;}
.box7{grid-row:2/ span 7 ;}
.box8{ grid-area: 2 / 2 / span 2/ span 2;}
.box9, .box10, .box11, .box12, .box14, .box15, .box16, .box17{background-color: rgb(12, 97, 90);color: white;}
.box14{grid-area:4 / 4 / span 2 / span 2 ;}
.box18{grid-area: 6/3/span 2/span 2;}
.box18, .box19, .box20, .box22, .box25{background-color: rgb(61, 30, 105);color: white;}
.box21{grid-row: 7 /span 2;}
.box23{grid-area:7/6/ span 2 /span 1 ;}
.container2{
    display: grid;
    gap: 10px;
    padding: 80px;
    grid-template-columns: 50px  50px  50px 50px 50px 50px 50px;
    justify-content: center;}
.container2 > div{
    text-align: center;
  padding: 20px 0;
  font-size: 30px;}
.b4, .b5, .b6, .b7, .b25, .b26, .b32, .b33, .b45, .b51, .b52, .b53, .b67, .b68, .b69, .b75{
    background-color: yellow;
  box-shadow: 0px 0px 2px 5px yellow;}
.b1, .b8, .b10, .b11, .b15, .b17, .b22, .b24, .b37, .b43, .b44, .b50, .b49, .b56, .b63, .b70, .b73, .b74, .b81, .b82{
    background-color: rgb(7, 7, 175);
  box-shadow: 0px 0px 2px 5px rgb(7, 7, 175);}
.b2,.b3, .b9,.b16,.b41, .b46, .b47, .b48, .b59, .b60,.b65,.b66{
    background-color: aqua;
  box-shadow: 0px 0px 2px 5px rgb(41, 206, 206);}
.b14,.b20, .b21,.b28,.b23, .b29, .b30, .b36, .b57, .b58,.b64,.b71{
    background-color: rgb(9, 231, 9);
  box-shadow: 0px 0px 2px 5px rgb(9, 231, 9);}
.b12,.b13, .b18,.b19,.b31, .b38, .b39, .b40, .b54, .b55,.b61,.b62{
    background-color: rgb(190, 8, 78);
  box-shadow: 0px 0px 2px 5px rgb(190, 8, 78);}
.b27,.b34, .b35,.b42,.b72, .b76, .b77, .b78, .b79, .b80,.b83,.b84{
    background-color: rgb(199, 91, 3);
  box-shadow: 0px 0px 2px 5px rgb(199, 91, 3);}
  .container3{
    display: grid;
    grid-template-columns:  100px  100px  100px 100px 100px 90px 90px;
    grid-template-rows:  70px  100px  130px 150px 50px ;
    gap: 10px;
    padding: 80px;
    justify-content: center;
    height: 520px;
    background-color: rgb(66, 9, 119);
  }
  .container3 > div{
    padding: 20px 0;
    text-align: center;
    font-size: 23px;
    background-color: rgba(212, 84, 61, 1);
  }
  .shape1{grid-row:1/ span 3; border-radius: 40px 0px 0px 0px;}
  .shape2{ border-radius: 0px 0px 20px 20px;}
  .shape3{grid-column:3/ span 5; border-radius: 0px 0px 0px 30px;}
  .shape4{grid-area: 2/ 2/ span 2/ span 2; border-radius: 50px 0px 50px 0px;box-shadow: 0px 0px 20px 30px rgba(45, 8, 80, 0.7);}
  .shape5{ border-radius: 0px 0px 0px 100px;}
  .shape6{ grid-column: 5/ span 2; border-radius: 0px 50px 50px 0px;}
  .shape7{grid-area: 2 / 7 / span 2 / span 1;border-radius: 50px 0px 0px 0px;}
  .shape8{border-radius: 50px 0px 0px 0px;}
  .shape9{grid-area: 3 / 5 / span 2 / span 1;border-radius: 0px 0px 0px 50px;}
  .shape10{border-radius: 0px 20px 20px 0px;}
  .shape11{grid-area: 4/ 1/ span 2/ span 2; border-radius: 100%;box-shadow: 10px 0px 20px 30px rgba(45, 8, 80, 0.7);}
  .shape12{grid-column: 3/ span 2;border-radius: 30px 30px 0px 0px;}
  .shape13{grid-area: 4 / 6 / span 2 /span 2; border-radius: 50px 0px 50px 0px; box-shadow: 0px 0px 20px 30px rgba(45, 8, 80, 0.7);}
  .shape14{border-radius: 30px 30px 30px 30px;}
  .shape15{grid-column: 4/ span 2;border-radius: 30px 30px 30px 30px;}


